<div class="container">

  <div class="card d-flex flex-column my-4 ">
    <% if @lobbies.empty? %>
      <h3>Bummer! It doesn't seem that you have any session <strong>yet</strong>.</h3>
      <%= link_to 'Find Session!', game_sessions_path, class: "btn btn-flat" %>
    <% else %>
      <h2 class="m-4 text-center text-warning font-weight-bold">Hi, <%= @lobbies.first.user.first_name %>!  These are your upcoming sessions:</h2>
  </div>

  <div class="d-flex">
    <div class="d-flex flex-column col-5">
      <% @lobbies.each do |lobby| %>
        <div class="card mb-2">
          <% if lobby.game_session.photo.attached? %>
            <%= cl_image_tag lobby.game_session.photo.key, class: "session-img" %>
          <% else %>
            <%= cl_image_tag lobby.game_session.game.photo.key, class: "session-img" %>
          <% end %>
          <div class="px-4 py-2">
            <div class="d-flex font-weight-bold justify-content-center">
              <p><%= lobby.game_session.date.strftime("%A, %b %d") %></p>
              <p class="px-1">@</p>
              <p><%= lobby.game_session.start_time.strftime("%l:%M %p") %></p>
            </div>
            <h5 class="pb-2 font-weight-bold"><%= link_to lobby.game_session.session_name, game_session_path(lobby.game_session.id), class: "text text-warning" %></h5>
            <p><i class="fas fa-dice"></i> <%= link_to lobby.game_session.game.name, game_path(lobby.game_session.game), class: "text text-warning"  %></p>
            <p><i class="fas fa-map-marker-alt"></i> <%= lobby.game_session.address %></p>
          </div>

        </div>
          <% end %>
      <% end %>
    </div>

    <div class="col-7">
      <div class="p-4 my-3 sticky-top" id="review-card">
        <%= month_calendar(events: @sessions, attribute: :starts_at)  do |date, date_sessions| %>
          <%= date %>
          <% date_sessions.each do |session| %>
            <div class="dropdown mb-2 px-2">
              <button class="btn btn-secondary session vertical-align-middle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-dice"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="font-weight-bold text-center px-4"> <%= session.session_name%></div>
              <div class="px-4"><i class="fas fa-dice"></i> <%= link_to session.game.name, game_path(session.game), class: "text text-warning" %></div>
              <div class="px-4"><i class="fas fa-map-marker-alt"></i> <%= session.address  %></div>
              <div class="px-4"><i class="fas fa-clock"></i> <%= session.start_time.strftime("%H:%M") %></div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
