<div class="form-new row justify-content-center py-3">
  <div class="col-6">
    <h3>Add a session</h3>
    <%= simple_form_for @game_session do |f| %>
      <%= f.input :game_id, collection: Game.all %>
      <%= f.input :session_name %>
      <%= f.input :address %>
      <%= f.input :date, as: :date %>
      <%= f.input :time, as: :time %>
      <%= f.input :photo, as: :file %>
      <%= f.input :is_family_friendly, :label => "Family Friendly"%>
      <%= f.input :is_smoke_free, :label => "Smoke free"%>
      <%= f.input :has_food, :label => "Food" %>
      <%= f.input :has_drinks, :label => "Drinks" %>
      <%= f.input :is_recurrent, :label => "Will this session be recurrent?" %>
      <%= f.input :capacity, :label => "Spaces available" %>

      <%= f.submit "Create session", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
