<div class="container">
  <div class="card d-flex flex-column my-4">
        <h3 class="m-4 text-center"><%= @game_session.session_name %></h3>
        <div class="d-flex justify-content-center">
          <div class="ml-0 mt-1">
            <% if @game_session.user.photo.attached? %>
              <%= cl_image_tag @game_session.user.photo.key, class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "standard_avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
          </div>
          <div class="ml-1 d-flex flex-column align-items-center">
            <p class="mb-0">Hosted by:</p>
            <p> <%= link_to "#{@game_session.user.first_name} #{@game_session.user.last_name} ", user_path(@game_session.user), class: "text-warning" %></p>
          </div>
        </div>
      </div>
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column col-7">
      <div class="card mb-4 d-flex flex-column justify-content-betweent">
        <% if @game_session.photo.attached? %>
          <%= cl_image_tag @game_session.photo.key, class: "session-img" %>
        <% else %>
          <%= cl_image_tag @game_session.game.photo.key, class: "session-img" %>
        <% end %>

        <div class="px-4">
          <h5 class="my-3">Details</h5>
          <p><%= @game_session.description%></p>
        </div>
      </div>
      <div class="card d-flex flex-column justify-content-between">
        <h5 class="pt-4 pl-4">Attendees</h5>
        <div class="pb-4 pl-4">
          <% @game_session.lobbies.each do |lobby| %>
            <% if lobby.accepted %>
              <div class="d-flex py-2">
                <div>
                  <% if lobby.user.photo.attached? %>
                    <%= cl_image_tag lobby.user.photo.key, class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <% else %>
                    <%= image_tag "default_user_photo.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <% end %>
                </div>
                <div class="d-flex align-items-center pl-1">
                  <%= link_to "#{lobby.user.first_name} #{lobby.user.last_name} ", user_path(lobby.user), class: "text-warning" %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if current_user == @game_session.user %>
        <div class="card d-flex flex-column justify-content-between mt-4">
          <h5 class="pt-4 pl-4">Pending attendees</h5>
          <div class="pb-4 pl-4">
            <% @game_session.lobbies.each do |lobby| %>
              <% if !lobby.accepted %>
                <div class="d-flex py-2">
                  <div>
                    <% if lobby.user.photo.attached? %>
                      <%= cl_image_tag lobby.user.photo.key, class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                    <% else %>
                      <%= image_tag "default_user_photo.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                    <% end %>
                  </div>
                  <div class="d-flex align-items-center justify-content-between px-4 w-100">
                    <div>
                      <%= link_to "#{lobby.user.first_name} #{lobby.user.last_name} ", user_path(lobby.user), class: "text-warning" %>
                    </div>
                    <div>
                      <%= simple_form_for lobby, url: accept_path(lobby), method: :patch do |f| %>
                        <%= f.submit "Approve", class: "btn btn-flat" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="d-flex flex-column round-border col-5">
      <div class="card p-4">
        <div class="d-flex font-weight-bold">
          <p><%= @game_session.date.strftime("%A, %b %d")%></p>
          <p class="px-1">@</p>
          <p><%= @game_session.start_time.strftime("%l:%M %p")%></p>
        </div>
        <p><i class="fas fa-map-marker-alt"></i> <%= @game_session.address %></p>
        <div class="d-flex justify-content-between">
          <p><%= @availability %> spots left</p>
          <div class="form px-4 pb-4">
            <% if current_user.lobbies.where(game_session: @game_session).empty? %>
              <%= simple_form_for [@game_session, @lobby] do |f| %>
                <%= f.submit "Ask to join", class: "btn btn-flat" %>
              <% end %>
            <% else %>
              <%= link_to game_session_lobby_path(@game_session, @lobby), method: :delete, data: { confirm: "Are you sure you want to leave this game session?" } do %>
                <button class = 'btn btn-flat'>Leave</button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div id="map" class="round-border my-4"
          style="width: 100%; height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
