<div class="banner" >
  <div class="container">
    <h1>Find your <strong>board game</strong> mates.</h1>
    <p>Join a session, meet people and make friends!</p>
    <%= link_to "Start", game_sessions_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container">
  <div class="how-it-works py-4">
    <h3 class="text-center">How it works</h1>
    <div class="d-flex justify-content-around mb-4 py-2">
      <div class="card">
        <%= image_tag "players1.png" %>
        <p>Search by location and find sessions near you. There are players all over the world! </p>
        <%= link_to "Find session", game_sessions_path, class: "btn btn-details" %>
      </div>
      <div class="card">
        <%= image_tag "players2.png" %>
        <p>Not sure what games would you like to play? Explore the board games world here.</p>
        <%= link_to "Discover games", games_path, class: "btn btn-details" %>
      </div>
      <div class="card">
        <%= image_tag "players3.png" %>
        <p>Own some board games but need a group to play? Start you own game session. </p>
        <%= link_to "Create a session", new_game_session_path, class: "btn btn-details" %>
      </div>
    </div>
  </div>

  <div class="complete-perfil py-4">
    <h3 class="text-center">Complete your profile and keep playing</h1>
    <p class="py-2">Complete your profile to keep playing. <br> You can also check other peoples profiles and rate your experience with them. </p>
  </div>
</div>
