<div class="container">
  <%= link_to "See sessions", game_sessions_path, class: "btn btn-primary"  %>
  <% @games.each do |game| %>
    <div class="card d-flex flex-row">
      <% if game.photo.attached? %>
        <%= cl_image_tag game.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
      <% end %>
      <div class="d-flex flex-column">
        <div class="p-2"><h1><%= game.name %></h1></div>
        <div class="p-2"><%= game.description %></div>
        <div class="p-2">Age rating: <%= game.age_rating %>+</div>
        <div class="p-2">Time: <%= game.duration %></div>
        <div class="p-2">Player count: <%= game.player_count %></div>
      </div>
    </div>
  <% end %>
</div>
