<div class="container">

  <div class="search">
    <%= form_tag games_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a game"
    %>
    <%= submit_tag "Search", class: "btn btn-flat" %>
    <% end %>
  </div>

  <div class="cards">
    <% @games.each do |game| %>
      <div class="card">
        <div class="game-img">
          <% if game.photo.attached? %>
            <%= cl_image_tag game.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
          <% end %>
        </div>
        <div class="game-info">
          <div class="p-2"><h4><%= game.name %></h4></div>
          <div class="p-2">Category: <%= game.category %></div>
          <div class="p-2"> <%= link_to "See this game", game_path(game.id), class: "btn btn-details" %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
