<div class="container">

  <div class="row">
    <div class="white-round-card d-flex flex-row col-sm-12 py-3">
      <% if @game.photo.attached? %>
        <%= cl_image_tag @game.photo.key, height: 300, width: 400, crop: :fill, class: "align-self-center" %>
      <% else %>
      <% end %>
      <div class="d-flex flex-column pl-3">
        <div class="p-2 text text-warning"><h1><%= @game.name %></h1></div>
        <div class="p-2 text-break text-justify mr-4"><%= @game.description %></div>
        <div class="p-2"><i class="fas fa-chess"></i>  Category: <%= @game.category %></div>
        <div class="p-2"><i class="fas fa-child"></i>  Age rating: <%= @game.age_rating %></div>
        <div class="p-2"><i class="fas fa-hourglass-half"></i>  Time: <%= @game.duration %> min.</div>
        <div class="p-2"><i class="fas fa-male"></i>  Player count: <%= @game.player_count %></div>
      </div>
      <div> <%= link_to "See open sessions", game_sessions_path, class: "btn btn-details", id: "session-button" %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 p-0">
      <% @game_reviews.each do |review| %>
        <div class="white-round-card p-4 my-3">

          <div class="review_title d-flex justify-content-start">
            <h2 class="mr-3 text-warning text-break"><%= review.title %> </h2>
            <% review.rating.times do %>
              <i class="fas fa-star  align-self-center text-warning"></i>
            <% end %>
            <% (5-review.rating).times do %>
              <i class="far fa-star  align-self-center text-warning"></i>
            <% end %>
          </div>

          <div class="review_author d-flex justify-content-start mb-3">
            <p class="align-self-center m-0 mr-2">by <%= link_to "#{review.user.first_name} #{review.user.last_name} ", user_path(review.user), class: "text-warning" %></p>
            <% if review.user.photo.attached? %>
              <%= cl_image_tag review.user.photo.key, class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "standard_avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
          </div>

          <p class="m-0 text-justify text-break"><%= review.content %></p>
        </div>
      <% end %>
    </div>

    <div class="col-sm-4">
      <div class="white-round-card p-4 my-3 sticky-top" id="review-card">
        <h2 class="text-warning">Leave your review here!</h2>
        <%= simple_form_for [@game, @review] do |f|%>
          <%= f.input :title %>
          <%= f.input :content %>
          <%= f.input :rating, collection: (1..5).to_a, label: "Rate this game" %>
          <%= f.submit "Review Game!", class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
