<div class="container">

  <div class="row">
    <div class="card d-flex flex-row col-sm-12">
      <% if @game.photo.attached? %>
        <%= cl_image_tag @game.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
      <% end %>
      <div class="d-flex flex-column">
        <div class="p-2"><h1><%= @game.name %></h1></div>
        <div class="p-2"><%= @game.description %></div>
        <div class="p-2">Category: <%= @game.category %></div>
        <div class="p-2">Age rating: <%= @game.age_rating %></div>
        <div class="p-2">Time: <%= @game.duration %></div>
        <div class="p-2">Player count: <%= @game.player_count %></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 p-0">
      <% @game_reviews.each do |review| %>
        <div class="white-round-card p-4 my-3">

          <div class="review_title d-flex justify-content-start">
            <h2 class="mr-3 text-warning"><%= review.title %> </h2>
            <% review.rating.times do %>
              <i class="fas fa-star  align-self-center text-warning"></i>
            <% end %>
            <% (5-review.rating).times do %>
              <i class="far fa-star  align-self-center text-warning"></i>
            <% end %>
          </div>

          <div class="review_author d-flex justify-content-start mb-3">
            <p class="align-self-center m-0 mr-2">by <%= review.user.first_name %></p>
            <% if review.user.photo.attached? %>
              <%= cl_image_tag review.user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "standard_avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
          </div>

          <p class="m-0"><%= review.content %></p>
        </div>
      <% end %>
    </div>

    <div class="col-sm-4">
      <div class="white-round-card p-4 my-3">
        <h2 class="text-warning">Leave your review here!</h2>
        <%= simple_form_for [@game, @review] do |f|%>
          <%= f.input :title %>
          <%= f.input :content %>
          <%= f.input :rating %>
          <%= f.submit "Review Game!", class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %> |
<%= link_to 'Leave a review', new_game_game_review_path(@game) %>
